data/VOICE/schema/voice.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en"
     xmlns:rng="http://relaxng.org/ns/structure/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>VOICE TEI Customisation</title>
      </titleStmt>
      <editionStmt>
        <edition>built on     
        <date>2009-05-04</date>
        </edition>
      </editionStmt>
      <publicationStmt>
        <p>unpublished</p>
      </publicationStmt>
      <sourceDesc>
        <p>
          Generated by oddbyexample.xsl, based on analyzing the corpus
          files from
          /home/stefan/tmp/oddbyexample/collection/. Validated by
          comparing with manually crafted ODD
        </p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change who="SM" when="2010-09-16">att.datable missed @when</change>
      <change who="SM" when="2010-12-16">moved ipa in unint and pvc to
      attribute, generated seperate schema for full/anon versions of
      VOICE</change>
      <change who="SM">Last modified: <date>$LastChangedDate: 2011-04-18 13:02:59 +0200 (Mon, 18 Apr 2011) $</date></change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <divGen type="toc"/>
      <div>
        <head>Introduction</head>
        <p>
          The <title>VOICE TEI Customisation</title> is a subset of
          the TEI Guidelines. Most of this documentation is directly
          derived from the TEI sources. It is designed to be
          conformant to the TEI P5 Guidelines, such that it only uses a subset of elements and attributes available in the
          TEI. Therefore, most definitions provided below are deletions of elements
          that are not required for VOICE. In some cases, it was
          necessary to add elements or attributes to existing elements. These
          additions are all handled transparently in the namespace
          <idno
          type="URL">http://www.univie.ac.at/voice/ns/1.0</idno>. The definitions of these additional elements are provided below.
        </p>
      </div>
      <div>
        <head>Specification Summary</head>
        <specGrp xml:id="teiElementsWithExtensions">
        <moduleRef key="tei"/>
        <classSpec ident="att.canonical" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="key" mode="delete"/>
            <attDef ident="ref" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.dimensions" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="unit" mode="delete"/>
            <attDef ident="quantity" mode="delete"/>
            <attDef ident="extent" mode="delete"/>
            <attDef ident="atLeast" mode="delete"/>
            <attDef ident="atMost" mode="delete"/>
            <attDef ident="min" mode="delete"/>
            <attDef ident="max" mode="delete"/>
            <attDef ident="precision" mode="delete"/>
            <attDef ident="scope" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.damaged" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="hand" mode="delete"/>
            <attDef ident="agent" mode="delete"/>
            <attDef ident="degree" mode="delete"/>
            <attDef ident="group" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.datable.w3c" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="period" mode="delete"/>
            <attDef ident="notBefore" mode="delete"/>
            <attDef ident="notAfter" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.declarable" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="default" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.declaring" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="decls" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.divLike" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="org" mode="delete"/>
            <attDef ident="sample" mode="delete"/>
            <attDef ident="part" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.editLike" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="evidence" mode="delete"/>
            <attDef ident="source" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.global" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="rendition" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.handFeatures" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="scribe" mode="delete"/>
            <attDef ident="script" mode="delete"/>
            <attDef ident="medium" mode="delete"/>
            <attDef ident="scope" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.internetMedia" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="mimeType" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.interpLike" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="inst" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.measurement" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="unit" mode="delete"/>
            <attDef ident="quantity" mode="delete"/>
            <attDef ident="commodity" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.naming" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="nymRef" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.placement" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="place" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.segLike" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="part" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.sourced" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="ed" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.spanning" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="spanTo" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.tableDecoration" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="role" mode="delete"/>
            <attDef ident="rows" mode="delete"/>
            <attDef ident="cols" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.timed" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="start" mode="delete"/>
            <attDef ident="end" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.transcriptional" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="hand" mode="delete"/>
            <attDef ident="status" mode="delete"/>
            <attDef ident="seq" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.translatable" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="version" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.xmlspace" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="xml:space" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.personal" module="tei" type="atts" mode="change">
          <attList>
            <attDef ident="full" mode="delete"/>
            <attDef ident="sort" mode="delete"/>
          </attList>
        </classSpec>
        <moduleRef key="core"/>
        <moduleRef key="analysis"/>
        <elementSpec ident="w" mode="change">
          <content>
            <zeroOrMore xmlns="http://relaxng.org/ns/structure/1.0">
              <choice>
                <text/>
                <ref name="model.gLike"/>
                <ref name="seg"/>
                <ref name="w"/>
                <ref name="m"/>
                <ref name="c"/>
                <ref name="model.global"/>
                <ref name="model.lPart"/>
                <ref name="model.highlighted"/>
                <ref name="model.pPart.edit"/>
              </choice>
            </zeroOrMore>
          </content>
          <attList>
            <attDef ident="lemma" mode="delete"/>
            <attDef ident="lemmaRef" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="function" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef usage="opt" ident="mode" mode="add" ns="http://www.univie.ac.at/voice/ns/1.0">
              <desc>Describes the mode a word is uttered in</desc>
              <valList>
                <valItem ident="spelt"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="c" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="s" module="analysis" mode="delete"/>
        <elementSpec ident="cl" module="analysis" mode="delete"/>
        <elementSpec ident="phr" module="analysis" mode="delete"/>
        <elementSpec ident="m" module="analysis" mode="delete"/>
        <elementSpec ident="span" module="analysis" mode="delete"/>
        <elementSpec ident="spanGrp" module="analysis" mode="delete"/>
        <elementSpec ident="interp" module="analysis" mode="delete"/>
        <elementSpec ident="interpGrp" module="analysis" mode="delete"/>
        <classSpec ident="att.global.analytic" module="analysis" type="atts" mode="change">
          <attList>
            <attDef ident="ana" mode="delete"/>
          </attList>
        </classSpec>
        <elementSpec ident="p" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="foreign" mode="change">
          <classes mode="change">
            <!-- this is not clean -->
            <memberOf key="att.typed"/>
          </classes>
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="translation" ns="http://www.univie.ac.at/voice/ns/1.0">
              <desc>Translation or comment in English regarding the meaning of the element's content</desc>
              <datatype>
                <rng:text/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="emph" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="gap" mode="change">
          <attList>
            <attDef ident="hand" mode="delete"/>
            <attDef ident="agent" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef usage="opt" ident="desc" mode="add" ns="http://www.univie.ac.at/voice/ns/1.0">
              <datatype>
                <rng:text/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="unclear" mode="change">
          <attList>
            <attDef ident="reason" mode="delete"/>
            <attDef ident="hand" mode="delete"/>
            <attDef ident="agent" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="name" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="address" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="addrLine" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="date" mode="change">
          <attList>
            <attDef ident="calendar" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="dur" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="ref" mode="change">
          <classes>
            <memberOf key="model.ptrLike"/>
            <memberOf key="model.global"/>
            <memberOf key="att.pointing"/>
            <memberOf key="att.typed"/>
            <memberOf key="att.declaring"/>
          </classes>
          <attList>
            <attDef ident="cRef" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="list" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="ordered"/>
              </valList>
            </attDef>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="p"/>
              </valList>
            </attDef>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="item" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="note" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="anchored" mode="delete"/>
            <attDef ident="target" mode="delete"/>
            <attDef ident="targetEnd" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="analytic" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="monogr" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="author" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="editor" mode="change">
          <attList>
            <attDef ident="role" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="respStmt" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="resp" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="title" mode="change">
          <attList>
            <attDef ident="level" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="j"/>
                <valItem ident="m"/>
              </valList>
            </attDef>
            <attDef ident="type" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="imprint" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="publisher" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="biblScope" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="issue"/>
                <valItem ident="pp"/>
                <valItem ident="vol"/>
              </valList>
            </attDef>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="pubPlace" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="bibl" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="biblStruct" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="listBibl" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="teiCorpus" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="hi" module="core" mode="delete"/>
        <elementSpec ident="distinct" module="core" mode="delete"/>
        <elementSpec ident="said" module="core" mode="delete"/>
        <elementSpec ident="quote" module="core" mode="delete"/>
        <elementSpec ident="q" module="core" mode="delete"/>
        <elementSpec ident="cit" module="core" mode="delete"/>
        <elementSpec ident="mentioned" module="core" mode="delete"/>
        <elementSpec ident="soCalled" module="core" mode="delete"/>
        <elementSpec ident="desc" module="core" mode="delete"/>
        <elementSpec ident="gloss" module="core" mode="delete"/>
        <elementSpec ident="term" module="core" mode="delete"/>
        <elementSpec ident="sic" module="core" mode="delete"/>
        <elementSpec ident="corr" module="core" mode="delete"/>
        <elementSpec ident="choice" module="core" mode="delete"/>
        <elementSpec ident="reg" module="core" mode="delete"/>
        <elementSpec ident="orig" module="core" mode="delete"/>
        <elementSpec ident="add" module="core" mode="delete"/>
        <elementSpec ident="del" module="core" mode="delete"/>
        <elementSpec ident="rs" module="core" mode="delete"/>
        <elementSpec ident="email" module="core" mode="delete"/>
        <elementSpec ident="street" module="core" mode="delete"/>
        <elementSpec ident="postCode" module="core" mode="delete"/>
        <elementSpec ident="postBox" module="core" mode="delete"/>
        <elementSpec ident="num" module="core" mode="delete"/>
        <elementSpec ident="measure" module="core" mode="delete"/>
        <elementSpec ident="measureGrp" module="core" mode="delete"/>
        <elementSpec ident="time" module="core" mode="delete"/>
        <elementSpec ident="abbr" module="core" mode="delete"/>
        <elementSpec ident="expan" module="core" mode="delete"/>
        <elementSpec ident="ptr" module="core" mode="delete"/>
        <elementSpec ident="head" module="core" mode="delete"/>
        <elementSpec ident="headLabel" module="core" mode="delete"/>
        <elementSpec ident="headItem" module="core" mode="delete"/>
        <elementSpec ident="index" module="core" mode="delete"/>
        <elementSpec ident="graphic" module="core" mode="delete"/>
        <elementSpec ident="binaryObject" module="core" mode="delete"/>
        <elementSpec ident="milestone" module="core" mode="delete"/>
        <elementSpec ident="pb" module="core" mode="delete"/>
        <elementSpec ident="lb" module="core" mode="delete"/>
        <elementSpec ident="cb" module="core" mode="delete"/>
        <elementSpec ident="series" module="core" mode="delete"/>
        <elementSpec ident="meeting" module="core" mode="delete"/>
        <elementSpec ident="relatedItem" module="core" mode="delete"/>
        <elementSpec ident="l" module="core" mode="delete"/>
        <elementSpec ident="lg" module="core" mode="delete"/>
        <elementSpec ident="sp" module="core" mode="delete"/>
        <elementSpec ident="speaker" module="core" mode="delete"/>
        <elementSpec ident="stage" module="core" mode="delete"/>
        <elementSpec ident="divGen" module="core" mode="delete"/>
        <moduleRef key="corpus"/>
        <elementSpec ident="particDesc" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="settingDesc" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="setting" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="who" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="locale" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="activity" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="textDesc" module="corpus" mode="delete"/>
        <elementSpec ident="channel" module="corpus" mode="delete"/>
        <elementSpec ident="constitution" module="corpus" mode="delete"/>
        <elementSpec ident="derivation" module="corpus" mode="delete"/>
        <elementSpec ident="domain" module="corpus" mode="delete"/>
        <elementSpec ident="factuality" module="corpus" mode="delete"/>
        <elementSpec ident="interaction" module="corpus" mode="delete"/>
        <elementSpec ident="preparedness" module="corpus" mode="delete"/>
        <elementSpec ident="purpose" module="corpus" mode="delete"/>
        <moduleRef key="header"/>
        <elementSpec ident="teiHeader" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="corpus"/>
              </valList>
            </attDef>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="fileDesc" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="titleStmt" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="sponsor" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="funder" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="principal" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="editionStmt" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="edition" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="extent" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="publicationStmt" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="distributor" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="idno" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="availability" mode="change">
          <attList>
            <attDef ident="status" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="free"/>
              </valList>
            </attDef>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="notesStmt" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="sourceDesc" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="encodingDesc" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="projectDesc" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="samplingDecl" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="editorialDecl" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="correction" mode="change">
          <attList>
            <attDef ident="status" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="high"/>
              </valList>
            </attDef>
            <attDef ident="method" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="normalization" mode="change">
          <attList>
            <attDef ident="source" mode="delete"/>
            <attDef ident="method" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="segmentation" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="tagsDecl" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="tagUsage" mode="change">
          <attList>
            <attDef ident="withId" mode="delete"/>
            <attDef ident="render" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="namespace" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="classDecl" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="taxonomy" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="category" mode="change">
          <attList>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="catDesc" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="profileDesc" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="creation" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="langUsage" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="language" mode="change">
          <attList>
            <attDef ident="usage" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="textClass" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="catRef" mode="change">
          <attList>
            <attDef ident="scheme" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="revisionDesc" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="change" mode="change">
          <attList>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="authority" module="header" mode="delete"/>
        <elementSpec ident="seriesStmt" module="header" mode="delete"/>
        <elementSpec ident="biblFull" module="header" mode="delete"/>
        <elementSpec ident="quotation" module="header" mode="delete"/>
        <elementSpec ident="hyphenation" module="header" mode="delete"/>
        <elementSpec ident="stdVals" module="header" mode="delete"/>
        <elementSpec ident="interpretation" module="header" mode="delete"/>
        <elementSpec ident="rendition" module="header" mode="delete"/>
        <elementSpec ident="refsDecl" module="header" mode="delete"/>
        <elementSpec ident="cRefPattern" module="header" mode="delete"/>
        <elementSpec ident="refState" module="header" mode="delete"/>
        <elementSpec ident="appInfo" module="header" mode="delete"/>
        <elementSpec ident="application" module="header" mode="delete"/>
        <elementSpec ident="handNote" module="header" mode="delete"/>
        <elementSpec ident="keywords" module="header" mode="delete"/>
        <elementSpec ident="classCode" module="header" mode="delete"/>
        <elementSpec ident="typeNote" module="header" mode="delete"/>
        <elementSpec ident="geoDecl" module="header" mode="delete"/>
        <moduleRef key="linking"/>
        <elementSpec ident="seg" mode="change">
          <attList>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="function" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="link" module="linking" mode="delete"/>
        <elementSpec ident="linkGrp" module="linking" mode="delete"/>
        <elementSpec ident="ab" module="linking" mode="delete"/>
        <elementSpec ident="when" module="linking" mode="delete"/>
        <elementSpec ident="timeline" module="linking" mode="delete"/>
        <elementSpec ident="join" module="linking" mode="delete"/>
        <elementSpec ident="joinGrp" module="linking" mode="delete"/>
        <elementSpec ident="alt" module="linking" mode="delete"/>
        <elementSpec ident="altGrp" module="linking" mode="delete"/>
        <classSpec ident="att.global.linking" module="linking" type="atts" mode="change">
          <attList>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="select" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.pointing" module="linking" type="atts" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="evaluate" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.pointing.group" module="linking" type="atts" mode="change">
          <attList>
            <attDef ident="domains" mode="delete"/>
            <attDef ident="targFunc" mode="delete"/>
          </attList>
        </classSpec>
        <moduleRef key="namesdates"/>
        <elementSpec ident="orgName" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="from" mode="delete"/>
            <attDef ident="to" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="persName" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="from" mode="delete"/>
            <attDef ident="to" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="age" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="from" mode="delete"/>
            <attDef ident="to" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="langKnowledge" mode="change">
          <attList>
            <attDef ident="tags" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="from" mode="delete"/>
            <attDef ident="to" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="langKnown" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="from" mode="delete"/>
            <attDef ident="to" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="listPerson" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="occupation" mode="change">
          <attList>
            <attDef ident="scheme" mode="delete"/>
            <attDef ident="code" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="from" mode="delete"/>
            <attDef ident="to" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="relationGrp" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="person" mode="change">
          <attList>
            <attDef ident="role" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="audience"/>
                <valItem ident="chair"/>
                <valItem ident="coordinator"/>
                <valItem ident="interviewee"/>
                <valItem ident="interviewer"/>
                <valItem ident="non-participant"/>
                <valItem ident="participant"/>
                <valItem ident="presenter"/>
                <valItem ident="researcher"/>
                <valItem ident="student"/>
                <valItem ident="teacher"/>
                <valItem ident="translator"/>
              </valList>
            </attDef>
            <attDef ident="age" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="personGrp" mode="change">
          <attList>
            <attDef ident="role" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="audience"/>
                <valItem ident="interactants"/>
                <valItem ident="speakers"/>
              </valList>
            </attDef>
            <attDef ident="sex" mode="delete"/>
            <attDef ident="age" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="relation" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="acquaintedness"/>
                <valItem ident="power"/>
              </valList>
            </attDef>
            <attDef ident="name" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="acquainted"/>
                <valItem ident="acquaintedness_unknown"/>
                <valItem ident="power_relations_unknown"/>
                <valItem ident="predominantly_acquainted"/>
                <valItem ident="predominantly_unacquainted"/>
                <valItem ident="fairly_asymmetrical"/>
                <valItem ident="fairly_symmetrical"/>
                <valItem ident="unacquainted"/>
              </valList>
            </attDef>
            <attDef ident="active" mode="delete"/>
            <attDef ident="passive" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="from" mode="delete"/>
            <attDef ident="to" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="sex" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="from" mode="delete"/>
            <attDef ident="to" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="surname" module="namesdates" mode="delete"/>
        <elementSpec ident="forename" module="namesdates" mode="delete"/>
        <elementSpec ident="genName" module="namesdates" mode="delete"/>
        <elementSpec ident="nameLink" module="namesdates" mode="delete"/>
        <elementSpec ident="addName" module="namesdates" mode="delete"/>
        <elementSpec ident="roleName" module="namesdates" mode="delete"/>
        <elementSpec ident="placeName" module="namesdates" mode="delete"/>
        <elementSpec ident="bloc" module="namesdates" mode="delete"/>
        <elementSpec ident="country" module="namesdates" mode="delete"/>
        <elementSpec ident="region" module="namesdates" mode="delete"/>
        <elementSpec ident="district" module="namesdates" mode="delete"/>
        <elementSpec ident="settlement" module="namesdates" mode="delete"/>
        <elementSpec ident="offset" module="namesdates" mode="delete"/>
        <elementSpec ident="geogName" module="namesdates" mode="delete"/>
        <elementSpec ident="geogFeat" module="namesdates" mode="delete"/>
        <elementSpec ident="affiliation" module="namesdates" mode="delete"/>
        <elementSpec ident="birth" module="namesdates" mode="delete"/>
        <elementSpec ident="climate" module="namesdates" mode="delete"/>
        <elementSpec ident="death" module="namesdates" mode="delete"/>
        <elementSpec ident="education" module="namesdates" mode="delete"/>
        <elementSpec ident="event" module="namesdates" mode="delete"/>
        <elementSpec ident="faith" module="namesdates" mode="delete"/>
        <elementSpec ident="floruit" module="namesdates" mode="delete"/>
        <elementSpec ident="geo" module="namesdates" mode="delete"/>
        <elementSpec ident="listOrg" module="namesdates" mode="delete"/>
        <elementSpec ident="listEvent" module="namesdates" mode="delete"/>
        <elementSpec ident="listPlace" module="namesdates" mode="delete"/>
        <elementSpec ident="location" module="namesdates" mode="delete"/>
        <elementSpec ident="nationality" module="namesdates" mode="delete"/>
        <elementSpec ident="org" module="namesdates" mode="delete"/>
        <elementSpec ident="place" module="namesdates" mode="delete"/>
        <elementSpec ident="population" module="namesdates" mode="delete"/>
        <elementSpec ident="residence" module="namesdates" mode="delete"/>
        <elementSpec ident="socecStatus" module="namesdates" mode="delete"/>
        <elementSpec ident="state" module="namesdates" mode="delete"/>
        <elementSpec ident="terrain" module="namesdates" mode="delete"/>
        <elementSpec ident="trait" module="namesdates" mode="delete"/>
        <elementSpec ident="nym" module="namesdates" mode="delete"/>
        <elementSpec ident="listNym" module="namesdates" mode="delete"/>
        <classSpec ident="att.datable.iso" module="namesdates" type="atts" mode="change">
          <attList>
            <attDef ident="when-iso" mode="delete"/>
            <attDef ident="notBefore-iso" mode="delete"/>
            <attDef ident="notAfter-iso" mode="delete"/>
            <attDef ident="from-iso" mode="delete"/>
            <attDef ident="to-iso" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.duration.iso" module="namesdates" type="atts" mode="change">
          <attList>
            <attDef ident="dur-iso" mode="delete"/>
          </attList>
        </classSpec>
        <moduleRef key="spoken"/>
        <elementSpec ident="scriptStmt" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="recordingStmt" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="recording" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="audio"/>
              </valList>
            </attDef>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="equipment" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="u" mode="change">
          <attList>
            <attDef ident="trans" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="dur" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="pause" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="who" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="vocal" mode="change">
          <classes mode="replace">
            <memberOf key="model.global.spoken"/>
            <memberOf key="att.timed"/>
            <memberOf key="att.ascribed"/>
            <!-- not clean -->
            <memberOf key="att.typed"/>
          </classes>
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="who" mode="delete"/>
            <attDef usage="opt" ident="syl" mode="add" ns="http://www.univie.ac.at/voice/ns/1.0">
              <desc>Specifies the approx. count of syllables</desc>
              <datatype maxOccurs="1">
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>
            <attDef usage="opt" ident="desc" mode="add" ns="http://www.univie.ac.at/voice/ns/1.0">
              <datatype>
                <rng:text/>
              </datatype>
            </attDef>

          </attList>
        </elementSpec>
        <elementSpec ident="incident" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="who" mode="delete"/>
            <attDef usage="opt" ident="desc" mode="add" ns="http://www.univie.ac.at/voice/ns/1.0">
              <datatype>
                <rng:text/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="shift" mode="change">
          <attList>
            <attDef ident="feature" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="custom"/>
                <valItem ident="loud"/>
                <valItem ident="tempo"/>
                <valItem ident="voice"/>
              </valList>
            </attDef>
            <attDef ident="new" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="a"/>
                <valItem ident="f"/>
                <valItem ident="high"/>
                <valItem ident="imitating"/>
                <valItem ident="l"/>
                <valItem ident="laugh"/>
                <valItem ident="neutral"/>
                <valItem ident="not"/>
                <valItem ident="p"/>
                <valItem ident="phone"/>
                <valItem ident="reading"/>
                <valItem ident="reading_aloud"/>
                <valItem ident="sigh"/>
                <valItem ident="singing"/>
                <valItem ident="speaking"/>
                <valItem ident="voice"/>
                <valItem ident="whisp"/>
                <valItem ident="with"/>
                <valItem ident="yawning"/>
                <valItem ident="speaking_with_a_high_voice"/>
              </valList>
            </attDef>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="who" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="broadcast" module="spoken" mode="delete"/>
        <elementSpec ident="kinesic" module="spoken" mode="delete"/>
        <elementSpec ident="writing" module="spoken" mode="delete"/>
        <moduleRef key="tagdocs"/>
        <elementSpec ident="att" mode="change">
          <attList>
            <attDef ident="scheme" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="gi" mode="change">
          <attList>
            <attDef ident="scheme" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="val" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="code" module="tagdocs" mode="delete"/>
        <elementSpec ident="eg" module="tagdocs" mode="delete"/>
        <elementSpec ident="egXML" module="tagdocs" mode="delete"/>
        <elementSpec ident="ident" module="tagdocs" mode="delete"/>
        <elementSpec ident="tag" module="tagdocs" mode="delete"/>
        <elementSpec ident="specList" module="tagdocs" mode="delete"/>
        <elementSpec ident="specDesc" module="tagdocs" mode="delete"/>
        <elementSpec ident="moduleRef" module="tagdocs" mode="delete"/>
        <elementSpec ident="moduleSpec" module="tagdocs" mode="delete"/>
        <elementSpec ident="schemaSpec" module="tagdocs" mode="delete"/>
        <elementSpec ident="specGrp" module="tagdocs" mode="delete"/>
        <elementSpec ident="specGrpRef" module="tagdocs" mode="delete"/>
        <elementSpec ident="stringVal" module="tagdocs" mode="delete"/>
        <elementSpec ident="elementSpec" module="tagdocs" mode="delete"/>
        <elementSpec ident="classSpec" module="tagdocs" mode="delete"/>
        <elementSpec ident="macroSpec" module="tagdocs" mode="delete"/>
        <elementSpec ident="remarks" module="tagdocs" mode="delete"/>
        <elementSpec ident="listRef" module="tagdocs" mode="delete"/>
        <elementSpec ident="exemplum" module="tagdocs" mode="delete"/>
        <elementSpec ident="classes" module="tagdocs" mode="delete"/>
        <elementSpec ident="memberOf" module="tagdocs" mode="delete"/>
        <elementSpec ident="equiv" module="tagdocs" mode="delete"/>
        <elementSpec ident="altIdent" module="tagdocs" mode="delete"/>
        <elementSpec ident="content" module="tagdocs" mode="delete"/>
        <elementSpec ident="attList" module="tagdocs" mode="delete"/>
        <elementSpec ident="attDef" module="tagdocs" mode="delete"/>
        <elementSpec ident="attRef" module="tagdocs" mode="delete"/>
        <elementSpec ident="datatype" module="tagdocs" mode="delete"/>
        <elementSpec ident="defaultVal" module="tagdocs" mode="delete"/>
        <elementSpec ident="valDesc" module="tagdocs" mode="delete"/>
        <elementSpec ident="valItem" module="tagdocs" mode="delete"/>
        <elementSpec ident="valList" module="tagdocs" mode="delete"/>
        <classSpec ident="att.identified" module="tagdocs" type="atts" mode="change">
          <attList>
            <attDef ident="ident" mode="delete"/>
            <attDef ident="predeclare" mode="delete"/>
            <attDef ident="module" mode="delete"/>
            <attDef ident="mode" mode="delete"/>
          </attList>
        </classSpec>
        <moduleRef key="textstructure"/>
        <elementSpec ident="TEI" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="text" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="body" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="div" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef usage="opt" ident="end" ns="http://www.univie.ac.at/voice/ns/1.0">
              <datatype>
<!--                <rng:data type="token">
                  <rng:param name="pattern">[0-9][0-9]:[0-9][0-9]</rng:param>
                </rng:data> -->
                <rng:ref name="data.temporal.iso"/>
              </datatype>
            </attDef>
            <attDef usage="opt" ident="start" ns="http://www.univie.ac.at/voice/ns/1.0">
              <datatype>
<!--                 <rng:data type="token">
                  <rng:param name="pattern">[0-9][0-9]:[0-9][0-9]</rng:param>
                </rng:data> -->
                <rng:ref name="data.temporal.iso"/>
              </datatype>
            </attDef>
            <attDef usage="opt" ident="medium_type" ns="http://www.univie.ac.at/voice/ns/1.0">
              <datatype>
                <rng:ref name="data.enumerated"/>
              </datatype>
            </attDef>
            <attDef usage="opt" ident="end_medium_number" ns="http://www.univie.ac.at/voice/ns/1.0">
              <datatype>
                <rng:ref name="data.key"/>
              </datatype>
            </attDef>
            <attDef usage="opt" ident="start_medium_number" ns="http://www.univie.ac.at/voice/ns/1.0">
              <datatype>
                <rng:ref name="data.key"/>
              </datatype>
            </attDef>
            <attDef usage="opt" ident="end_track" ns="http://www.univie.ac.at/voice/ns/1.0">
              <datatype>
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>
            <attDef usage="opt" ident="start_track" ns="http://www.univie.ac.at/voice/ns/1.0">
              <datatype>
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>

          </attList>
        </elementSpec>
        <elementSpec ident="group" module="textstructure" mode="delete"/>
        <elementSpec ident="floatingText" module="textstructure" mode="delete"/>
        <elementSpec ident="div1" module="textstructure" mode="delete"/>
        <elementSpec ident="div2" module="textstructure" mode="delete"/>
        <elementSpec ident="div3" module="textstructure" mode="delete"/>
        <elementSpec ident="div4" module="textstructure" mode="delete"/>
        <elementSpec ident="div5" module="textstructure" mode="delete"/>
        <elementSpec ident="div6" module="textstructure" mode="delete"/>
        <elementSpec ident="div7" module="textstructure" mode="delete"/>
        <elementSpec ident="trailer" module="textstructure" mode="delete"/>
        <elementSpec ident="byline" module="textstructure" mode="delete"/>
        <elementSpec ident="dateline" module="textstructure" mode="delete"/>
        <elementSpec ident="argument" module="textstructure" mode="delete"/>
        <elementSpec ident="epigraph" module="textstructure" mode="delete"/>
        <elementSpec ident="opener" module="textstructure" mode="delete"/>
        <elementSpec ident="closer" module="textstructure" mode="delete"/>
        <elementSpec ident="salute" module="textstructure" mode="delete"/>
        <elementSpec ident="signed" module="textstructure" mode="delete"/>
        <elementSpec ident="postscript" module="textstructure" mode="delete"/>
        <elementSpec ident="titlePage" module="textstructure" mode="delete"/>
        <elementSpec ident="docTitle" module="textstructure" mode="delete"/>
        <elementSpec ident="titlePart" module="textstructure" mode="delete"/>
        <elementSpec ident="docAuthor" module="textstructure" mode="delete"/>
        <elementSpec ident="imprimatur" module="textstructure" mode="delete"/>
        <elementSpec ident="docEdition" module="textstructure" mode="delete"/>
        <elementSpec ident="docImprint" module="textstructure" mode="delete"/>
        <elementSpec ident="docDate" module="textstructure" mode="delete"/>
        <elementSpec ident="front" module="textstructure" mode="delete"/>
        <elementSpec ident="back" module="textstructure" mode="delete"/>
        <moduleRef key="transcr"/>
        <elementSpec ident="supplied" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef usage="opt" ident="ipa" mode="add" ns="http://www.univie.ac.at/voice/ns/1.0">
              <desc> Transcription of the item in the International
              Phonetic Alphabet (IPA) </desc>
              <datatype minOccurs="1" maxOccurs="unbounded">
                <rng:data type="token"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="facsimile" module="transcr" mode="delete"/>
        <elementSpec ident="surface" module="transcr" mode="delete"/>
        <elementSpec ident="zone" module="transcr" mode="delete"/>
        <elementSpec ident="addSpan" module="transcr" mode="delete"/>
        <elementSpec ident="damage" module="transcr" mode="delete"/>
        <elementSpec ident="damageSpan" module="transcr" mode="delete"/>
        <elementSpec ident="delSpan" module="transcr" mode="delete"/>
        <elementSpec ident="ex" module="transcr" mode="delete"/>
        <elementSpec ident="fw" module="transcr" mode="delete"/>
        <elementSpec ident="handNotes" module="transcr" mode="delete"/>
        <elementSpec ident="handShift" module="transcr" mode="delete"/>
        <elementSpec ident="am" module="transcr" mode="delete"/>
        <elementSpec ident="restore" module="transcr" mode="delete"/>
        <elementSpec ident="space" module="transcr" mode="delete"/>
        <elementSpec ident="subst" module="transcr" mode="delete"/>
        <classSpec ident="att.global.facs" module="transcr" type="atts" mode="change">
          <attList>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.coordinated" module="transcr" type="atts" mode="change">
          <attList>
            <attDef ident="ulx" mode="delete"/>
            <attDef ident="uly" mode="delete"/>
            <attDef ident="lrx" mode="delete"/>
            <attDef ident="lry" mode="delete"/>
          </attList>
        </classSpec>
        </specGrp>
        
        <specGrp xml:id="anonSpecificElements">
        <elementSpec ident="anchor" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        </specGrp>

        <specGrp xml:id="fullTextSpecificElements">
        <elementSpec ident="anchor" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </elementSpec>
        </specGrp>

        <specGrp xml:id="voiceElements">
        <elementSpec ident="track" mode="add" ns="http://www.univie.ac.at/voice/ns/1.0">
          <desc>Indicates the beginning of a new track</desc>
          <classes>
            <memberOf key="model.global"/>
            <memberOf key="att.typed"/>
          </classes>
          <content>
            <rng:empty/>
          </content>
          <attList>
            <attDef usage="opt" ident="medium">
              <datatype><rng:ref name="data.key"/></datatype>
            </attDef>
            <attDef usage="opt" ident="num">
              <datatype><rng:ref name="data.key"/></datatype>
            </attDef>
          </attList>
        </elementSpec>

        <elementSpec ident="pvc" mode="add" ns="http://www.univie.ac.at/voice/ns/1.0">
          <desc>Indicates a Pronunciation Variation and Coinage as described in the VOICE Transcription Conventions</desc>
          <classes>
            <memberOf key="model.phrase"/>
          </classes>
          <content>
            <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
          </content>
          <attList>
            <attDef usage="opt" ident="comment">
              <datatype><rng:text/></datatype>
            </attDef>
            <attDef usage="opt" ident="ipa" mode="add" ns="http://www.univie.ac.at/voice/ns/1.0">
              <desc> Phonetic representation of the item usng the International
              Phonetic Alphabet (IPA) </desc>
              <datatype minOccurs="1" maxOccurs="unbounded">
                <rng:data type="token"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>

        <elementSpec ident="to" mode="add" ns="http://www.univie.ac.at/voice/ns/1.0">
          <desc>Indicates a stretch of speech directed to a specific person</desc>
          <classes>
            <memberOf key="model.segLike"/>
            <memberOf key="att.segLike"/>
            <memberOf key="att.ascribed"/>
          </classes>
          <content>
            <rng:ref name="macro.paraContent"/>
          </content>
        </elementSpec>
        </specGrp>
      </div>
      <div>
        <head>Schema Details</head>
      <schemaSpec ident="VOICESchema" start="TEI teiCorpus">
        <specGrpRef target="#teiElementsWithExtensions"/>
        <specGrpRef target="#anonSpecificElements"/>
        <specGrpRef target="#voiceElements"/>
      </schemaSpec>
      <schemaSpec ident="VOICEFullTexts" start="TEI">
        <specGrpRef target="#teiElementsWithExtensions"/>
        <specGrpRef target="#fullTextSpecificElements"/>
        <specGrpRef target="#voiceElements"/>
      </schemaSpec>
    </div>
    </body>
  </text>
</TEI>